<!DOCTYPE html>
<html>
    <head>
        <meta http-quiv="Content-Type" content="text/html; charset=utf-8">
        <title>homepage</title>
    </head>
    <body>
        {% if request.user.is_authenticated %}
            <p>歡迎光臨:{{request.user}}</p>
            <p><a href ="/closerice/logout/">logout</a></p>
        {% else %}
            <p>未登入</p>
            <a href ="/closerice/login/">login</a>
            <a href ="/closerice/register/">register</a>
        {% endif %}
    </body>
</html>